{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
{% endfor %}
