{% extends 'base.html.twig' %}

{% block title %}Komentarze{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h3><a href="{{ path('comment_new') }}">Dodaj nowy komentarz</a></h3>
    <table>
        <thead>
        <tr>
            <th>Treść</th>
            <th>Data dodania</th>
            <th>Nick autora</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.message }}</td>
                <td>{{ comment.createdAt|date('Y-m-d H:i') }}</td>
                <td>{{ comment.author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
